<table border="1">
    <tr>
        <td><button ng-click="ctrl.value(0)">{{ctrl.cell[0]}}</button></td>
        <td><button ng-click="ctrl.value(1)">{{ctrl.cell[1]}}</button></td>
        <td><button ng-click="ctrl.value(2)">{{ctrl.cell[2]}}</button></td>
    </tr>

    <tr>
        <td><button ng-click="ctrl.value(3)">{{ctrl.cell[3]}}</button></td>
        <td><button ng-click="ctrl.value(4)">{{ctrl.cell[4]}}</button></td>
        <td><button ng-click="ctrl.value(5)">{{ctrl.cell[5]}}</button></td>
    </tr>

    <tr>
        <td><button ng-click="ctrl.value(6)">{{ctrl.cell[6]}}</button></td>
        <td><button ng-click="ctrl.value(7)">{{ctrl.cell[7]}}</button></td>
        <td><button ng-click="ctrl.value(8)">{{ctrl.cell[8]}}</button></td>
    </tr>

</table>
X -> Computer
O -> Player
