<table border="1">
    <tr>
        <td><button ng-click="ctrl.value(0)"></button></td>
        <td><button ng-click="ctrl.value(1)"></button></td>
        <td><button ng-click="ctrl.value(2)"></button></td>
    </tr>

    <tr>
        <td><button ng-click="ctrl.value(3)"></button></td>
        <td><button ng-click="ctrl.value(4)"></button></td>
        <td><button ng-click="ctrl.value(5)"></button></td>
    </tr>

    <tr>
        <td><button ng-click="ctrl.value(6)"></button></td>
        <td><button ng-click="ctrl.value(7)"></button></td>
        <td><button ng-click="ctrl.value(8)"></button></td>
    </tr>

</table>
X -> Computer
O -> Player
